@{Layout = "_Layout"; }
@model List<Orders>
<div class="container1">
    @if (User.IsInRole("Admin") == true | User.IsInRole("Moderator") == true)
    {
        <div style="background:#ffffff;">
            <a class="button" asp-action="UserList" asp-controller="Roles">Пользователи</a>


        </div>
    }

    <div class="lk_table">
        <table>
            <tr><th>Заказ</th><th>Имя пользователя</th><th>Статус</th></tr>
            @foreach (var z in Model)
            {
                <tr><th>@z.OrderName</th><th> @z.UserName </th><th>@z.Status</th></tr>
            }

        </table>
    </div>
</div>

