@{
    Layout = "_Layout";
}
<div class="contact_info">
    <h1>Наши контакты</h1>
    <h3>Менеджер Владислава +7943325345</h3>
    <h3>Адрес электронной почты: lost@gmail.com</h3>
    <h3>Наш адрес ул.Пушкина</h3>
</div>