@{Layout = "_Layout";}
<h1 class="imain_title">Производство доступной мебели в стиле Loft</h1>
<div class="container">
    <div class="category">
        <div class="current_category">
            <div class="category_image">
                <a asp-action="ConclusionItem" asp-controller="Tovar" asp-route-categoryId="2">
                    <img src="/img/office.jpg" alt="" class="image_border" />
                </a>
            </div>
            <h2>Для офиса</h2>
            <p>
                Тестовый текст
            </p>
        </div>
        <div class="current_category">
            <div class="category_image">
                <a asp-action="ConclusionItem" asp-controller="Tovar" asp-route-categoryId="1">
                    <img src="/img/home.jpg" alt="" class="image_border" />
                    </a>
            </div>
            <h2>Для дома</h2>
            <p>
                тестовый текст
            </p>
        </div>
        <div class="current_category">
            <div class="category_image">
                <a asp-action="ConclusionItem" asp-controller="Tovar" asp-route-categoryId="3">
                    <img src="/img/creative.jpg" alt="" class="image_border" />
                    </a>
            </div>
            <h2>Креатив</h2>
            <p>
                тестовый текст
            </p>
        </div>
    </div>
</div>